* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #333;
    color: #CCB;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.75rem;
    padding: 0.25rem;
}

select {
    background-color: #222;
    border: 1px solid black;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0 0.25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
}

option {
    background-color: #222;
    color: inherit;
}

.btn {
    background-color: #222;
    border: 1px solid black;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.gift.love {
    color: #F08;
}

.gift.like {
    color: #08F;
}

#npc-list {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto) 1fr auto;
    height: 100%;
}

#npc-list>label {
    justify-self: right;
}

#npc-list>ul, #npc-list>.btns {
    grid-column: 1 / 3;
}

#npc-list>ul {
    align-content: start;
    display: grid;
    grid-gap: 0.25rem;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    overflow-y: auto;
}

#npc-list>.btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
}

.npc-entry {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-rows: auto;
    grid-auto-rows: auto;
}

.npc-entry>.name {
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    font-size: 1.5rem;
    grid-gap: 1rem;
    grid-template-columns: 1fr auto auto;
    line-height: 2rem;
    padding: 0 1rem;
}

.npc-entry>.name.disabled {
    color: #666;
}

.npc-entry>.name>.checkbox, .npc-entry>.name>.edit {
    color: inherit;
    display: none;
    text-decoration: none;
}

.npc-entry>.gift {
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    margin-left: 1.5rem;
    padding: 0 0.5rem;
}

.npc-entry.open>.name>.checkbox, .npc-entry.open>.name>.edit, .npc-entry.open>.gift {
    display: block;
}

.checkbox:before {
    content: '\2610';
    padding-right: 0.25rem;
}

.checkbox.checked:before {
    content: '\2611';
}

.checkbox.disabled {
    color: #666;
}

#npc-editor {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4, auto) 1fr auto;
    height: 100%;
}

#npc-editor>label {
    justify-self: right;
}

#npc-editor>ul {
    list-style: none;
    overflow-y: auto;
}

#npc-editor>.btn {
    grid-column: 1 / 3;
}

