* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #333;
    color: #CCB;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
}

input[type='checkbox'] {
    display: none;
}

.checkbox:before {
    border: 1px solid black;
    content: ' ';
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
    margin-right: 0.25rem;
    text-align: center;
    vertical-align: middle;
    width: 1rem;
}

.checkbox.checked:before {
    content: '\2713';
}

.checkbox.disabled:before {
    border-color: #666;
}

select {
    background-color: #222;
    border: 1px solid black;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0 0.25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
}

option {
    background-color: #222;
    color: inherit;
}

.btn {
    background-color: #222;
    border: 1px solid black;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.gift.love {
    color: #F08;
}

.gift.like {
    color: #08F;
}