#npc-list {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto) 1fr auto;
    height: 100%;
}

#npc-list>label {
    justify-self: right;
}

#npc-list>ul, #npc-list>.btns {
    grid-column: 1 / 3;
}

#npc-list>ul {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    overflow-y: auto;
}

#npc-list>.btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
}

.npc-entry {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-rows: auto;
    grid-auto-rows: auto;
}

.npc-entry>.name {
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: auto 1fr auto;
    line-height: 2rem;
}

.npc-entry>.name.disabled {
    color: #666;
}

.npc-entry>.name>.edit {
    color: inherit;
    display: none;
    text-decoration: none;
}

.npc-entry>.gift {
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    margin-left: 1.5rem;
    padding: 0 0.25rem;
}

.npc-entry.open>.name>.edit, .npc-entry.open>.gift {
    display: block;
}
